/* Smooth scrolling for snap sections */
html {
  scroll-behavior: smooth;
}

/* Hero transition expansions */
.hero-button {
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.hero-button.expand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}


/* Hide the scrollbar for a cleaner snap effect (optional) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari */
}

.snap-y {
  scroll-snap-type: y mandatory;
}
.snap-start {
  scroll-snap-align: start;
}

/* The main content fades in */
#main-content {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0; /* starts invisible */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Sidebar starts off-screen */
#sidebar {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* Sidebar visible state */
#sidebar.show {
  transform: translateX(0);
}

/* Hidden sidebar */
#sidebar.hidden {
  display: none;
}


#hamburgerBtn.show {
  display: block;
}

  
  
  
  
  
